<h1>Restaurant List</h1>

<div class="restaurants">
  <ul>
    <% @restaurants.each do |r| %>
  <li>
      <%= link_to r.name, restaurant_path(r) %>
      <% end %>
  </li>
  </ul>
</div>

<%= link_to "Create new Restaurant", new_restaurant_path %>
